name: Render with Typst

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/typst/typst:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile with Typst
        run: typst c cv.typ

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: cv-pdf
          path: cv.pdf
